src/space.egg-info
data/
# macos related
__MACOSX/
.DS_Store
# local python cache
__pycache__/
# local jupyter notebook cache
.ipynb_checkpoints/
local/
results/ 
*.ipynb
logs/
*.h5
data.tgz
todo.md
.gitignore
README_.md
temp.sh
temp/
!figures/space_overview.png
figures/
*.log